img {
    width: 250px;
}

.blur {
    filter: blur(5px); /*Desfoca a imagem*/
}
.grayscale {
    filter: grayscale(70%); /*Deixa preto e branco*/
}
.sepia {
    filter: sepia(50%); /*Deixa a imagem amarelada*/
}
.brightness {
    filter: brightness(150%); /*aumenta o brilho*/
}
.invert {
    filter: invert(100%); /*Inverte as cores*/ 
}
.contrast {
    filter: contrast(60%); /*Aumenta/Diminui o contraste*/
}
.opacity {
    filter: opacity(0.5); /*Mexe na transparencia*/
}
img:hover {
    filter: none;
}