body {
   background-image: url(Central-Park.jpg);
   background-repeat: no-repeat; /*não repete o fundo*/
   background-size: cover;
   background-position: center; 
   background-attachment: scroll;
   background-color: aqua;
}

body::before {
   content: "";
}
p {
   font-size: 90px;
}